{% extends "model-page.html" %}

{% block  estilo %}
    
<style type="text/css">
    .polaroid{
        width: 250px;
        box-shadow: 04px 8px 0rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
        text-align:center;
    }
    .container{
        padding: 10px;
    }

</style>
    {% endblock%}

{% block content %}
  
<div class="container-fluid mb-4">
    <div class="row">
        {% for r in restaurante %}
     <div class="col-12 col-lg-4">
        <a href="../detail/{{p.id}}">
        <div class="polaroid">
          <img src="{{ r.photo.url }} "  style="width:100%">

            <div class="container">
               <p>{{r.plates}}</p>
          
            </div>
        </div>
    </a>
     </div>
     {% endfor %}
    </div>
</div>

{% endblock %}