{% extends "model-page.html" %}

{% block content %}
<h1 class="text-center"> Detalhes do prato </h1>

<div class="container-fluid mp-4 mb-4">
<div class="row">
   <div class=" col-12 col-sm-4">
    <div style="border-color: green; border-style:solid; width: 356px; height: 300px;">
        <img src="{{restaurante.photo.url}}" width="350" height="263" style="margin-top: 16px;" alt="">
    </div>
   </div>
   <div class="col-12 col-sm-8">
    <p>{{restaurante.description}}</p>
    <h4>Preço</h4>
    <p> R$ {{restaurante.prices}}</p>
    <a href="#">
    <button type="button" class="btn btn-primary">alterar</button></a>
    <button type="button" class="btn btn-danger">excluir</button>
    
   </div>
</div>
</div>
{% endblock %}